.login-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #00bcd4;
}

.login__page-logo {
    font-size: 36px;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    text-align: center;
    .logo { 
        font-weight: 400;
        color: #fff;
        background-color: transparent;
        cursor: pointer;
        text-decoration: none;
        transition: none 86ms ease-out;
        line-height: 1.42857143
    }
}

.login__page-form {
    width: 350px;
    max-width: 360px;
    background: #fff;
    color: #555;
    padding: 20px;
    margin-bottom: 32px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 20%);

    .form-title {
        width: 100%;
        text-align: center;
        margin: 10px 0;
        font-size: 18px;
        font-weight: 700;
        line-height: 20px;
    }

    .form-input {
        width: 100%;
        margin-bottom: 20px;

        .form-title-input {
            margin-bottom: 20px;
            
            &:not(:first-child) {
                margin-top: 28px;
            }
    
            .input-icon{
                width: 10%;
                text-align: center;
                padding: 6px 12px 6px 0;
            }
    
            .form-input {
                padding: 0.4375em 0;
            }
        }
    }
}

.form-selection {
    width: 100%;
    display: flex;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 50px;

    .remember {
        flex: 0.95;
        line-height: 36px;
    }
}

.google-btn {
    width: 100%;
    margin-bottom: 20px;
}
.security-code-input {
    width: 100%;
    padding-bottom: 1.2em
}

.copyright {
    color: #E9E9E9;
    font-family: 'Roboto', sans-serif;
}