.action__form {
    max-width: 80vw;
    position: static;
    pointer-events: auto;

    .cancel-btn, .save-btn {
        padding: 0 16px;
        box-shadow: 0 2px 5px rgb(0 0 0 / 16%), 0 2px 10px rgb(0 0 0 / 12%);
        border-radius: 2px;
        border: none;
        font-size: 14px;
        height: 36px;
    }

    .cancel-btn:active {
        background-color: #c4c4c4;
        opacity: 0.8;
    }

    .save-btn {
        cursor: pointer;
        background-color: #f24b50;
        color: white;
    }
    .save-btn:disabled {
        color: #ccc;
    }

}
.form-edit {
    position: relative;

    .form-content {
        height: 520px;
    }
    .form-btn {
        z-index: 2;
    }
}

.header-title {
    margin-top: 20px;
    margin-bottom: 10px;
}
