.sidebar {
    width: 300px;
    transition: all .5s;
    font-family: Roboto,sans-serif;
    background: #fdfdfd;
    overflow: hidden;
    display: inline-block;
    height: calc(100vh - 70px);
    position: fixed;
    top: 70px;
    left: 0;
    -ms-box-shadow: 2px 2px 5px rgba(0,0,0,.1);
    box-shadow: 2px 2px 5px rgb(0 0 0 / 10%);
    z-index: 1;
}